$trans-time: 0.2s;
$view-head-height: 66px;

.clear-fix {
	&::after,
	&::before {
		content: "";
		clear: both;
		display: table;
	}
}
.view-head {
	font-size: 14px;
	height: $view-head-height;
	background-color: #ffffff;
	color: rgba(255, 255, 255, 0.7);
	line-height: 1.5;
	padding: 0 10px;
	z-index: 1000;

	.icon-icon {
		background-image: url("../../assets/UE/舒雅.png");
	}

	.head-line {
		height: 100%;
		user-select: none;
	}
	.bg {
		position: relative;
		width: 132px;
		height: 46px;
		backface-visibility: hidden;
		background-size: 100% 100%;
		background-repeat: no-repeat;
	}
	.title-block {
		height: $view-head-height - 20px;
		width: fit-content;
		margin: 10px 0;
		text-align: center;
		// border-right: solid 1px #cccccc;
		white-space: nowrap;
		position: relative;
		overflow: hidden;
		&.info-block {
			background-color: #f7f7fc;
			border-radius: 5px;
			justify-content: center;
		}
		&::after {
			content: "";
			position: absolute;
			top: 0;
			right: 0;
			display: inline-block;
			height: $view-head-height - 20px;
			// border-right: 1px solid #cccccc;
		}
		&.no-margin {
			height: $view-head-height;
			margin: 0;
			&::after {
				top: 10px;
			}
		}
		&.over-vis {
			overflow: visible;
		}

		ul li {
			list-style: none;
			height: 20px;
			line-height: 20px;
			width: 100%;
			transition: $trans-time;
			&.bold {
				font-weight: bold;
			}
		}
		.normal-info {
			display: flex;
			align-items: center;
			justify-content: left;
			height: 100%;
			text-align: left;	
			color: #45474a;
			font-family: "Microsoft YaHei", sans-serif;
			font-size: 14px;
		}
		.info-text {
			margin-left: 25px;
		}
		.data-text {
			margin-left: 25px;
			margin-right: 5px;
		}
		.data-state-info {
			&.done {
				color: #45474a;
			}
			&.doing {
				color: #84c227;
			}
		}
	}
	.op-block {
		line-height: $view-head-height - 20px;
		cursor: pointer;
		width: 100%;
		height: 100%;
		display: block;
		&:hover {
			color: khaki;
		}
	}
	.main-block.progress {
		overflow: hidden;
		height: 0px;
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		// margin: 8px 0;
		transition: 0.2s;
		visibility: hidden;
		opacity: 0;
		transform: translateY(10px) scaleY(0.1);
		&.show {
			height: 30px;
			margin: 15px 0;
			visibility: visible;
			opacity: 1;
			transform: none;
		}
		.arrange-progress-bar {
			height: 50%;
			width: 80%;
		}
	}
}